*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

#navbar{
    position: sticky;
    top: 0%;
    z-index: 10;
}

.logoimg{
   height: 40px;
   padding-left: 30px; 
}

.navbar-nav li {
padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#navbar a:hover{   
    color: rgb(7, 63, 246)!important; 
}

.navbar{
    background: #fff;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: #555!important;
    font-weight:600px;
    font-size: 16px;
}
